.author {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
    margin-top: 12vh;
    display: flex;
    gap: 1em;
    padding-right: 3em;
    background: var(--light-dark);
    color: black;
    border-radius: 100px;
}
.author > img {
    width: 75px;
    border-radius: 100px;
    transform: none;
    filter: grayscale(1);
}
.author > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}