:root {
    --dark: rgb(52, 52, 52);
    --darker-dark: rgb(38 38 38);
    --light-dark: rgb(223, 223, 223);
    --light: rgb(239, 239, 239);
}
body {
    margin: 0;
}
.centered-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main > section {
    padding: 10em;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 10vh;
}
main > section:nth-child(2n) {
    background-color: var(--light-dark);
}
.social-link {
    display: flex;
    align-items: center;
    gap: 5px;

}
.social-link img {
    width: 25px;
}
.brief-text {
    width: 40%;
    text-align: justify;
}