.template-1 {
    display: flex;
    position: relative;
    gap: 5em;
    text-align: justify;
    align-items: center;
}
.template-1 .content img {
    width: 400px;
    border-radius: 20px;
    transform: rotateZ(6deg);
}
.template-1 .content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}