/*1920x1080 desktop screen*/
@media (min-width: 1201px) {

    main > section {
        max-width: 1000px;
    }

    main > #contact {
        width: 100%;
        max-width: 100%;
    }
    main > #contact .header {

    }

}